*{
	font-family: Helvetica, sans-serif;
	color: #afafaf;
}
.flex-row{
	display: flex;
	max-width: 95%;
	min-height: 400px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;

}
.lt-tsr-content{
	width: 450px;
	height: 350px;
	display: flex;
	flex-direction: column;
	text-align: left;

}
.image-card{
	width: 450px;
}
.image-wrapper{
	width: 100%;
}
.image{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}
.f-subheader{
	font-size: 12px;
	margin-top: 15px;
}
.f-header-26{
	font-size: 150%;
	color: black;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}